<div class="login">
    <h1>Welcome, Please Log in</h1>
    <form>
        <input type="text" name="username" placeholder="username" required>
        <input type="text" name="password" placeholder="password" required>
        <input class="btn" type="submit" value="Log in!">
    </form>
</div>