<nav class="navbar navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
        <img src="./images/Capture.JPG" width="30" height="30" class="d-inline-block align-top" alt="">
        <span id=logo>Seller2<span id="red">Cellar</span></span>
    </a>
</nav>
<div class="sign-up">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <form action="/register" method="POST" class="needs-validation" autocomplete="false" novalidate>
                    {{!-- Name --}}
                    <label for="validationCustom01">Name</label>
                    <input type="text" name="name" class="form-control" id="validationCustom01" placeholder="Name"
                        required>
                    <div class="valid-feedback">
                        Looking good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide your name.
                    </div>

                    {{!-- UserName --}}
                    <label for="validationCustomUsername">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                        </div>
                        <input type="text" name="username" class="form-control" id="validationCustomUsername"
                            placeholder="Username" aria-describedby="inputGroupPrepend" required>
                        <div class="valid-feedback">
                            Thank you!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                    {{!-- Password --}}
                    <label for="validationCustom04">Password</label>
                    <input type="password" name="password" class="form-control" id="validationCustom04"
                        placeholder="Password" required>
                    <div class="invalid-feedback">
                        Please provide a password.
                    </div>
                    <label for="validationCustom05">Email</label>
                    <input type="text" name="email" class="form-control" id="validationCustom05"
                        placeholder="example@email.com" required>
                    <div class="invalid-feedback">
                        Please provide an email.
                    </div>
            </div>
            <br>
            <button class="btn btn-outline-danger btn-lg btn-block" type="submit">Submit Membership</button>
            </form>

        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script src="/public/js/index.js"></script>