<div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <!-- About Me 1-->
                <a class="list-group-item list-group-item-light list-group-item-action active" id="list-aboutMe-list"
                    data-toggle="list" href="#list-aboutMe" role="tab" aria-controls="aboutMe">About Me</a>
                <!-- Places 1-->
                <a class="list-group-item list-group-item-light list-group-item-action" id="list-places-list"
                    data-toggle="list" href="#list-places" role="tab" aria-controls="places">Places</a>
                <!-- Occupation 1-->
                <a class="list-group-item list-group-item-light list-group-item-action" id="list-occupation-list"
                    data-toggle="list" href="#list-occupation" role="tab" aria-controls="occupation">Occupation</a>
                <!-- Favorite Wine Makers 1-->
                <a class="list-group-item list-group-item-light list-group-item-action"
                    id="list-favoriteWineMakers-list" data-toggle="list" href="#list-favoriteWineMakers" role="tab"
                    aria-controls="favoariteWineMakers">Favorite Wine Makers</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <!-- About Me 2-->
                <div class="tab-pane fade show active" id="list-aboutMe" role="tabpanel"
                    aria-labelledby="list-aboutMe-list">I am a former wine salesperson and ever
                    since I left the wine industry I have been building my own wine sellar.
                    As my collection grew I had a tougher time remebering which wines to hold and
                    which ones to drink. So I created CellarSellers as a way to track, trade, buy
                    and sell wines
                    to friends within our community.
                </div>
                <!-- Places 2 -->
                <div class="tab-pane fade" id="list-places" role="tabpanel" aria-labelledby="list-places-list">Portland,
                    Oregon</div>
                <!-- Occupation 2 -->
                <div class="tab-pane fade" id="list-occupation" role="tabpanel" aria-labelledby="list-occupation-list">
                    Former wine industry hack and upcoming
                    web developer</div>
                <!-- Favorite Wine Makers 2 -->
                <div class="tab-pane fade" id="list-favoriteWineMakers" role="tabpanel"
                    aria-labelledby="list-favoriteWineMakers-list">Camille Giroud</div>
            </div>
        </div>
    </div>
</div>