<div class="tab-pane fade" id="list-social" role="tabpanel" aria-labelledby="list-social-list">
    <ul class="list-unstyled">
        <div class="card">
            <div class="card-body">
                <h5 class="text-secondary">What are you thinking about?</h5>
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-dark float-right">Submit</button>
                </form>
            </div>
        </div>
        <li class="media">
            <img class="post_img" src="./images/fake_profile.jpg">
            <div class="media-body">
                <h5><a href="#" class="text-danger">WineSnob1</a></h5>
                Just went out to Ruby Vineyard yesterday for the Friday Night After Hours We grilled
                a pork loin with peaches and
                drank a bottle of Steve's Reserve Pinot.
            </div>
        </li>
        <li class="media my-4">
            <img class="post_img" src="./images/fake_profile.jpg">
            <div class="media-body">
                <h5><a href="#" class="text-danger">WineSnob1</a></h5>
                Got my shipment of Vin de Midi! Looking forward to trying the Cahors, Fitou and
                Chinon Rose. Alas the Chinon Rouge and
                Vin de Savoie are missing. They shoudl arrive next week.
            </div>
        </li>
        <li class="media">
            <img class="post_img" src="./images/fake_profile.jpg">
            <div class="media-body">
                <h5><a href="#" class="text-danger">WineSnob1</a></h5>
                Geting emails from Stoller about the wine pickup party. I wonder what wines they
                will be putting in the release.
            </div>
        </li>
        <li class="media">
            <img class="post_img" src="./images/fake_profile.jpg">
            <div class="media-body">
                <h5><a href="#" class="text-danger">WineSnob1</a></h5>
                Got my invitation to Polo Noir. I can't go just because it seems so incredibly
                stupid and annoying.
            </div>
        </li>
    </ul>
</div>