<div class="tab-pane fade" id="list-forSale" role="tabpanel" aria-labelledby="list-forSale-list">
        <div class="container">
        <div class="container">
            <div class="row">
                <div class="col text-dark">
                {{#each dbwine}}
                    {{> wines/wine_card/card}}
                {{/each}}
                </div>
                <div class="col text-dark">
                    {{> wines/wine_card/card}}               
                </div>
            </div>
            <br>
        </div>
    </div>
</div>