<div class="tab-pane fade" id="list-forSale" role="tabpanel" aria-labelledby="list-forSale-list">
    <div class="container">
        <div class="row">
            <div class="col text-dark">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="./images/example_wine/example_wine1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Roserock by Drouhin Oregon Eola-Amity Hills Pinot
                            Noir 2015</h5>
                        <p class="card-text">Some quick example text to build on the card title and
                            make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-dark float-right">Vineyard Link</a>
                    </div>
                </div>
            </div>
            <div class="col text-dark">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="./images/example_wine/example_wine2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Brick House Les Dijonnais Pinot Noir 2016</h5>
                        <p class="card-text">Some quick example text to build on the card title and
                            make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-dark float-right">Vineyard Link</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col text-dark">
                <div class="card float-right" style="width: 100%;">
                    <img class="card-img-top" src="./images/example_wine/example_wine3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Flowers Sonoma Coast Pinot Noir 2017</h5>
                        <p class="card-text">Some quick example text to build on the card title and
                            make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-dark float-right">Vineyard Link</a>
                    </div>
                </div>
            </div>
            <div class="col text-dark">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="./images/example_wine/example_wine4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dom Perignon with Gift Box 2008</h5>
                        <p class="card-text">Some quick example text to build on the card title and
                            make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-dark float-right">Vineyard Link</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card text-dark" style="width: 100%;">
                    <img class="card-img-top" src="./images/example_wine/example_wine5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Stag's Leap Wine Cellars Artemis Cabernet Sauvignon
                            2016</h5>
                        <p class="card-text">Some quick example text to build on the card title and
                            make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-dark float-right">Vineyard Link</a>
                    </div>
                </div>
            </div>
            <div class="col text-dark">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="./images/example_wine/example_wine6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">The Prisoner Wine Company The Prisoner 2017</h5>
                        <p class="card-text">Some quick example text to build on the card title and
                            make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-dark float-right">Vineyard Link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>