<div class="tab-pane fade" id="list-privateStock" role="tabpanel" aria-labelledby="list-privateStock-list">
    <div class="container">
        <div class="container">
            <div class="col text-dark">
                {{#each dbwine}}
                {{#unless this.sale}}
                {{> wines/wine_card/card}}
                {{/unless}}
                {{/each}}
            </div>
        </div>
    </div>
</div>