<div class="tab-pane fade" id="list-privateStock" role="tabpanel" aria-labelledby="list-privateStock-list">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col text-dark">
                    <div class="card" style="width: 100%;">
                        <div class="card-header text-center">
                            Wine Name
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <div class="text-dark">Country of Origin:</div>
                                    <div class="text-secondary">Wisconson</div>
                                    <div class="text-dark">Appelation:</div>
                                    <div class="text-secondary">That Hill Over Der</div>
                                    <div class="text-dark">Vintage:</div>
                                    <div class="text-secondary">Like pretty old</div>
                                </div>
                                <div class="col-6 text-center">
                                    <h1 class="float-right">$78.95</h1>
                                    <button type="button" class="btn btn-outline-dark float-right">Vineyard
                                        Link</button>
                                </div>
                            </div>
                            <img class="wine_img" src="./images/wine_bottle.jpg">
                        </div>
                    </div>
                </div>
                <div class="col text-dark">
                    <div class="card" style="width: 100%;">
                        <div class="card-header text-center">
                            Wine Name
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <div class="text-dark">Country of Origin:</div>
                                    <div class="text-secondary">Wisconson</div>
                                    <div class="text-dark">Appelation:</div>
                                    <div class="text-secondary">That Hill Over Der</div>
                                    <div class="text-dark">Vintage:</div>
                                    <div class="text-secondary">Like pretty old</div>
                                </div>
                                <div class="col-6 text-center">
                                    <h1 class="float-right">$78.95</h1>
                                    <button type="button" class="btn btn-outline-dark float-right">Vineyard
                                        Link</button>
                                </div>
                            </div>
                            <img class="wine_img" src="./images/wine_bottle.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>