body {
  background-image: url("../images/homescreen_photo.jpg");
  background-size: 100% auto;
  background-attachment: fixed;
}

#logo {
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
}

#red {
  color: #d9534f;
}

.log-in {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 60%;
  margin-left: -150px;
  margin-top: -150px;
}

.sign-up {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 45%;
  margin-left: -150px;
  margin-top: -150px;
}